<header class="site-header">

    <div class="wrapper">
        <div class="flex-column-center ">
            {%- assign default_paths = site.pages | map: "path" -%}
            {%- assign page_paths = site.header_pages | default: default_paths -%}
            {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
            <div class="flex-column-center">
                <a class="site-title text-center color-white" rel="author" href="{{ "/" | relative_url }}">{{ site.title
                | escape }}</a>
                <span class="color-white opacity50 text-center">{{ site.description }}</span>
            </div>
            {%- if titles_size > 0 -%}
            <div class="flex-row-center">
                {%- for path in page_paths -%}
                {%- assign my_page = site.pages | where: "path", path | first -%}
                {%- if my_page.title -%}
                <a class="page-link color-white text-center" href="{{ my_page.url | relative_url }}">{{ my_page.title | escape }}</a>
                {%- endif -%}
                {%- endfor -%}
            </div>
            {%- endif -%}
        </div>
    </div>
</header>
