// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)

.post-meta {
  font-size: 0.8em;
  font-style: italic;
  margin: 0;
}

.post-image {
  font-size: 0.8em;
  font-style: italic;
  margin: 0;
}

.post-image img {
  border: 1px solid black;
}

h1 {
  color: $custom-green;
}

body {
  background-color: $custom-white;
}

.site-header {
  background-image: linear-gradient(120deg, $custom-blue, $custom-green);
}

.site-title {
  color: $custom-white !important;
}

.site-nav {
  color: $custom-white !important;
}

a {
  color: $custom-blue;
}

a:visited {
  color: $custom-blue-dark;
}